<h3>
    Determining your foot length:
</h3>
<p>
    To determine your foot length, find a spot on a wall with a flat surface. Place a ruler or tape measure with the '0cm' mark flush against the wall. Now stand with your heel barefoot against the wall so that it corresponds to the '0' mark on the tape measure or ruler. Without moving your foot, read the longest distance on the tape measure, which corresponds to the longest toe. Now you have determined the length of your foot.
</p>
<p>
    Measure the right and the left foot. If the result is different, please note the larger value in cm.
</p>